{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>About QuizWiz </h1>
    <p> QuizWiz is a fun and interactive platform where you can test your knowledge on various topics. Challenge
        yourself with our collection of thought-provoking questions and see how well you fare!</p>
    <p>Features of QuizWiz:</p>
    <ul>
        <li>Multiple-choice questions to test your knowledge</li>
        <li>Engaging and interactive user interface</li>
        <li>Instant scoring and feedback</li>
    </ul>
    <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
</div>


{% endblock content %}


